.habitButton{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #5dbdf5;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
    width: 26vw;
    height: 7vh;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    margin-left: 2%;
    margin-bottom: 2vh;
}

button{
    outline:none;
}

.habitAndCheck{
    display: flex;
}

input[type=checkbox] {
    transform: scale(2);
    margin-left: 3%;
    margin-top:4%;
}

input[type=checkbox]:checked {
    outline: 1px solid #5dbdf5;
}